/* Empty file for template. Remember to edit only this file and not the HTML file */
.page-wrapper{
    background-image: url(images/back.jpg);
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
                                                
                                      
}