/* Empty file for template. Remember to edit only this file and not the HTML file */
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Metal+Mania&family=Oswald:wght@200..700&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Oswald:wght@200..700&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Metal+Mania&family=Nosifer&family=Oswald:wght@200..700&family=Rubik+Wet+Paint&display=swap');
.page-wrapper{
    background-image: url(images/back.2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;                                 
}
p {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    color:rgb(243, 47, 47);
    letter-spacing: 2px;
  }
h3{
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
}
h1 {
    font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: aliceblue;
}
h2 {
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
      color: aliceblue;
}
[role=banner] {
  text-align: center;
  background-image:url(images/blood-over-title.png) no-repeat center ;
}